# R runtime files #
*.RData
*.Rhistory

# Spurious parameter files #
set_params_*.R
set_params.R.old

# Other files #
innovations
zNOTE*

# Input files for other glaciers #
input/
        
# Output files #
output/

# Model run logs #
logs/

# Data used to develop the input preparation app #
utils/data/
utils/make_input.log

# Old procedures superseded by functions #
procedures/*.old

# Compiled C++ avalanche function (platform-specific!) #
functions/sourceCpp*

# Documentation which should not be shared #
doc/literature/
doc/tutorial2_multiyear/abramov_shapefiles/
doc/melt_surface_equations/melt_surfaces.png
doc/melt_surface_equations/melt_surface_equations.odp
doc/presentation_model_introduction/presentation.odp
doc/tutorial_videos/
