# R runtime files #
*.RData
*.Rhistory

# Parameter files for Barkrak, Zulmart and Yakarcha #
set_params_*.R

# Other files #
innovations
zNOTE*

# Input files for other Central Asian glaciers #
input/barkrak/
input/barkrak2/*.qgs*
input/yakarcha/
input/zulmart/
        
# Output files #
output/

# Data used to develop the input preparation app #
utils/data/

# Old procedures superseded by functions #
procedures/*.old

# Compiled C++ avalanche function (platform-specific! #
functions/sourceCpp*
